<div class="login-form">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-3 mt-5 form-top">
        <h1>Admin Panel</h1>
        <div class="form-field">
          <div class="form-field input-fields">
            <mat-form-field appearance="outline">
              <input matInput type="text" placeholder="Enter User Name" />
            </mat-form-field>
          </div>
        </div>
        <div class="form-field">
          <div class="form-field input-fields">
            <mat-form-field appearance="outline">
              <input matInput type="text" placeholder="Enter Your Password" />
            </mat-form-field>
          </div>
        </div>

        <div class="forgot-remember-wrap d-flex justify-content-between align-items-center my-2">
          <div class="form-check m-0">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Remember me</label>
          </div>

          <a routerLink="/forgot-password" class="text-end" title="Forgot password?">Forgot password?</a>
        </div>

        <div class="form-field action-btn">
          <button #normalLoginBtn type="button" class="btn-blue" (click)="onLogin()">
            Sign In
          </button>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>